/faces
/logs
/tf_logs
/images
.ipynb_checkpoints/
.vscode/
my_*
.DS_Store
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.bak
*.bak.*
*.ckpt
*.old
*.pyc
.DS_Store
checkpoint
haarcascade_frontalface_default.xml
*.h5
ClassNames.txt
/__pycache__